<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a movie" %>
  <%= f.button :submit %>
<% end %>
